<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/my-style.css">
</head>
<body>

<h2>Insert Author</h2>

<form action="" method="post">
    <label >Author Name:</label><br>
    <input type="text" id="name" name="author_name"><br>
    <label >Author Age:</label><br>
    <input type="text" id="age" name="author_age" ><br><br>
    <input type="submit" formmethod="post" name="submit" value="Submit" />
</form>
<a href='http://localhost:8080/'><button>Go to home page</button></a>

</body>
</html>