<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/my-style.css">
</head>
<body>

<h2>Registration</h2>

<form action="" method="post">
    <label >Username:</label><br>
    <input type="text" id="name" name="user_name"><br>
    <label >Email address:</label><br>
    <input type="text" id="email" name="user_email"><br>
    <label >Password:</label><br>
    <input type="text" id="age" name="user_password" ><br><br>
    <input type="submit" formmethod="post" name="submit" value="Submit" />
</form>
<a href='http://localhost:8080/'><button>Go to log-in page</button></a>

</body>
</html>